{% extends '@ancestors/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
{{ form_start(form, {'attr': {'id': 'form_find_person'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% if result|length > 0 %}
        <div id="results" class="row customTableHeader">
            <div class="small-4 large-4 columns">{% trans %}label.generic.firstname{% endtrans %}</div>
            <div class="small-4 large-4 columns">{% trans %}label.generic.familyname{% endtrans %}</div>
            <div class="small-4 large-4 columns">{% trans %}label.generic.birthdate{% endtrans %}</div>
        </div>
            {% for person in result %}
        <div class="row customTableRow">
            <a href="{{ path('show_person', { 'id': person.id} ) }}">
                <div class="small-4 large-4 columns">{{ person.firstname }}</div>
                <div class="small-4 large-4 columns">{{ person.familyname }}</div>
                <div class="small-4 large-4 columns">{% if person.birthdate is not null %}{{ person.birthdate|date('d.m.Y') }}{% endif %}</div>
            </a>
        </div>
            {% endfor %}
{% endif %}
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
<style>
.customTableHeader {
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid grey;
}
.customTableRow {
    padding: 10px;
    border-bottom: 1px solid grey;
}
</style>
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
var delay = (function () {
    var timer = 0;
    return function (callback, ms) {
        clearTimeout(timer);
        timer = setTimeout(callback, ms);
    };
})();

$("[id^={{ form.vars.id }}_]").on('keyup', function() {
    delay(function() {
        $("#form_find_person").submit();
    }, 500);
});
</script>
{% endblock %}
