{% extends '@ancestors/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row">
                <h1>{{ person.familyname~' '~person.firstname }}</h1>
            </div>
            {% if person.birthdate is not null %}
            <div class="row">{% trans %}label.generic.birthdate{% endtrans %}: {{ person.birthdate|date('d.m.Y') }}</div>
            {% endif %}
            {% if person.deathdate is not null %}
            <div class="row">{% trans %}label.generic.deathdate{% endtrans %}: {{ person.deathdate|date('d.m.Y') }}</div>
            </div>
            {% endif %}
            {% if is_granted('ROLE_EDIT') %}
            <div class="row">
                <a href="{{ path('edit_person', { 'id': person.id} ) }}">{% trans %}label.person.edit{% endtrans %}</a>
            </div>
            {% endif %}
            {% if person.father is not null %}
            <div class="row">{% trans %}label.generic.father{% endtrans %}:</div>
            <div class="row">
                <a href="{{ path("show_person", {'id': person.getFather().getId()}) }}">{{ person.getFather().getFullName() }}</a>
            </div>
            {% endif %}
            {% if person.mother is not null %}
            <div class="row">{% trans %}label.generic.mother{% endtrans %}:</div>
            <div class="row"><a href="{{ path("show_person", {'id': person.getMother().getId()}) }}">{{ person.getMother().getFullName() }}</a></div>
            {% endif %}
            {% if is_granted('ROLE_EDIT') %}
            <div class="row">
                <a href="{{ path("marry_with", {'person': person.id}) }}">{% trans %}label.person.marry{% endtrans %}</a>
            </div>
            {% endif %}
            {% if marriagesWithKids is not null %}{% for marriageWithKids in marriagesWithKids %}
            <div class="row">{% trans %}label.person.marriedTo{% endtrans %}{% if is_granted('ROLE_EDIT') %} (<a href="{{ path("edit_marriage", {'person1': person.id, 'person2': marriageWithKids.person.id}) }}">{% trans %}label.edit{% endtrans %}</a> / <a href="{{ path("delete_marriage", {'p1': person.id, 'p2': marriageWithKids.person.id}) }}">{% trans %}label.marriage.delete{% endtrans %}</a>){% endif %}:</div>
            <div class="row"><a href="{{ path("show_person", {'id': marriageWithKids.person.id }) }}">{{ marriageWithKids.person.getFullName() }}</a> (<a href="{{ path("create_person_from_parents", {"person1": person.getId(), "person2": marriageWithKids.person.getId()}) }}">{% trans %}label.insert.common.child{% endtrans %}</a>)</div>
                {% for kid in marriageWithKids.kids -%}
                    {% if loop.index == 1 -%}<div class="row">{% trans %}label.person.kid{% endtrans %}:</div>{% endif %}
                    <div class="row"><a href="{{ path("show_person", {'id': kid.id }) }}">{{ kid.getFullName() }}</a></div>
                {%- endfor %}
            </div>
            {% endfor %}{% endif %}
            {% if person.comment is not null %}
            <div class="row">{% trans %}label.generic.comment{% endtrans %}:</div>
            <div class="row">{{ person.comment }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
