{% extends '@ancestors/base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div class="row">
                <h1>{{ person.getFullName() }}</h1>
            </div>
            {% if is_granted('ROLE_EDIT') %}
            <div class="row">
                <a href="{{ path('edit_person', { 'id': person.id} ) }}">{% trans %}label.person.edit{% endtrans %}</a>
            </div>
            {% endif %}
            {% if person.father is not null %}
            <div class="row">
                <div class="small-3 large-2 columns">{% trans %}label.generic.father{% endtrans %}:</div>
                <div class="small-9 large-10 columns"><a href="{{ path("show_person", {'id': person.getFather().getId()}) }}">{{ person.getFather().getFullName() }}</a></div>
            </div>
            {% endif %}
            {% if person.mother is not null %}
            <div class="row">
                <div class="small-3 large-2 columns">{% trans %}label.generic.mother{% endtrans %}:</div>
                <div class="small-9 large-10 columns"><a href="{{ path("show_person", {'id': person.getMother().getId()}) }}">{{ person.getMother().getFullName() }}</a></div>
            </div>
            {% endif %}
            {% if is_granted('ROLE_EDIT') %}
            <div class="row">
                <a href="{{ path("marry_with", {'person': person.id}) }}">{% trans %}label.person.marry{% endtrans %}</a>
            </div>
            {% endif %}
            {% if marriagesWithKids is not null %}{% for marriageWithKids in marriagesWithKids %}
            <div class="row">
                <div class="small-3 large-2 columns">{% trans %}label.person.marriedTo{% endtrans %}{% if is_granted('ROLE_EDIT') %} (<a href="{{ path("edit_marriage", {'p1': person.id, 'p2': marriageWithKids.person.id}) }}">{% trans %}label.edit{% endtrans %}</a> / <a href="{{ path("delete_marriage", {'p1': person.id, 'p2': marriageWithKids.person.id}) }}">{% trans %}label.marriage.delete{% endtrans %}</a>){% endif %}:</div>
                <div class="small-9 large-10 columns"><a href="{{ path("show_person", {'id': marriageWithKids.person.id }) }}">{{ marriageWithKids.person.getFullName() }}</a></div>
                {% for kid in marriageWithKids.kids -%}
                    {% if loop.index == 1 -%}</div><div class="row"><div class="small-3 large-2 columns">{% trans %}label.person.kid{% endtrans %}:</div>
                    {%- else -%}</div><div class="row"><div class="small-3 large-2 columns"></div>
                    {% endif %}<div class="small-9 large-10 columns"><a href="{{ path("show_person", {'id': kid.id }) }}">{{ kid.getFullName() }}</a></div>
                {%- endfor %}
                </div>
            </div>
            {% endfor %}{% endif %}
            {% if marriagesWithKids is not null and is_granted('ROLE_EDIT') %}{% for marriage in marriagesWithKids %}
            <div class="row">
                <a href="{{ path("create_person_from_parents", {"p1": person.getId(), "p2": marriage.person.getId()}) }}">+ ({{ marriage.person.getFullName() }})</a>
            </div>
            {% endfor %}{% endif %}
            {% if person.birthdate is not null %}
            <div class="row">
                <div class="small-3 large-2 columns">{% trans %}label.generic.birthdate{% endtrans %}:</div>
                <div class="small-9 large-10 columns">{{ person.birthdate|date('d.m.Y') }}</div>
            </div>
            {% endif %}
            {% if person.deathdate is not null %}
            <div class="row">
                <div class="small-3 large-2 columns">{% trans %}label.generic.deathdate{% endtrans %}:</div>
                <div class="small-9 large-10 columns">{{ person.deathdate|date('d.m.Y') }}</div>
            </div>
            {% endif %}
            {% if person.comment is not null %}
            <div class="row">
                <div class="small-3 large-2 columns">{% trans %}label.generic.comment{% endtrans %}:</div>
                <div class="small-9 large-10 columns">{{ person.comment }}</div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
<style>
.columns {
    margin: 10px 0;
}
</style>
{% endblock %}