<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Vorfahren{% endblock %}</title>
        {% block stylesheetsDefault %}
        <link rel="stylesheet" href="{{ asset('assets/app.css') }}" />
        {% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block javascriptsHeadDefault %}
        <script src="{{ asset('assets/app.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="menu-centered">
            <ul class="dropdown menu" data-dropdown-menu data-close-on-click-inside="false">
                {% if is_granted('ROLE_CREATE') %}
                <li>
                    <a href="#">{% trans %}label.nav.edit{% endtrans %}</a>
                    <ul class="menu">
                        <li><a href="{{ path('create_person') }}">{% trans %}label.nav.create{% endtrans %}</a></li>
                        {% if is_granted('ROLE_EDIT') %}
                        <li><a href="{{ path('marry') }}">{% trans %}label.nav.marry{% endtrans %}</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                <li>
                    <a href="#">{% trans %}label.nav.show{% endtrans %}</a>
                    <ul class="menu">
                        <li><a href="{{ path('show_oldest_person') }}">{% trans %}label.nav.browseFromFirst{% endtrans %}</a></li>
                        <li><a href="{{ path('find_person') }}">{% trans %}label.nav.person.find{% endtrans %}</a></li>
                        <li><a href="{{ path('link_persons_form') }}">{% trans %}label.nav.person.link{% endtrans %}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
        {% block javascriptsBodyDefault %}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
