{% extends '@ancestors/base.html.twig' %}

{# Following does not work yet: https://symfony.com/doc/3.4/form/form_customization.html#how-to-customize-a-collection-prototype #}
{% form_theme form _self %}

{% block _accessRights_entry_widget %}
    <tr>
        <td style="display:none;">{{ form_row(form.user) }}</td>
        <td>{{ form_row(form.familyTree) }}</td>
        <td>{{ form_row(form.accessType) }}</td>
    </tr>
{% endblock %}

{% block body %}

    <div id="wrapper">
        <div id="container">
            {{ form_start(form) }}
            <table>
                <tr>
                    <th>{% trans %}label.admin.enabled{% endtrans %}</th>
                    <td>{{ form_widget(form.enabled) }}</td>
                </tr>
                <tr>
                    <th>{% trans %}label.admin.username{% endtrans %}</th>
                    <td>{{ form_widget(form.username) }}</td>
                </tr>
                <tr>
                    <th>{% trans %}label.admin.email{% endtrans %}</th>
                    <td>{{ form_widget(form.email) }}</td>
                </tr>
                <tr>
                    <th>{% trans %}label.admin.accessRights{% endtrans %}</th>
                    <td>
                        <table class="fixedTableLayout">
                            <thead>
                                <tr>
                                    <td style="display: none;">{% trans %}label.admin.username{% endtrans %}</td>
                                    <td>{% trans %}label.familyTree{% endtrans %}</td>
                                    <td>{% trans %}label.admin.accessType{% endtrans %}</td>
                                    <td>{% trans %}label.admin.action{% endtrans %}</td>
                                </tr>
                            </thead>
                            <tbody class="accessRights" data-prototype="{{ form_widget(form.accessRights.vars.prototype)|e('html_attr') }}">
                                {% for accessRight in form.accessRights -%}
                                <tr>
                                    <td style="display: none;">{{ form_widget(accessRight.user) }}</td>
                                    <td>{{ form_widget(accessRight.familyTree) }}</td>
                                    <td>{{ form_widget(accessRight.accessType) }}</td>
                                </tr>
                                {%- endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>{% trans %}label.admin.roles{% endtrans %}</th>
                    <td>{{ form_widget(form.roles) }}</td>
                </tr>
            </table>
            {{ form_end(form) }}
        </div>
    </div>

<script>
var $collectionHolder;

// setup an "add a tag" link
var $addAccessRightLink = $('<td colspan="3"><a href="#" class="add_accessRight_link">{% trans %}label.accessRight.add{% endtrans %}</a></td>');
var $newLinkTr = $('<tr></tr>').append($addAccessRightLink);

$(function() {
    $collectionHolder = $('tbody.accessRights');

    // add a delete link to all of the existing form elements
    $collectionHolder.find('tr').each(function() {
        addTagFormDeleteLink($(this));
    });
    // add the "add" anchor
    $collectionHolder.append($newLinkTr);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find('tr').length);

    $addAccessRightLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new form (see next code block)
        addAccessRightForm($collectionHolder, $newLinkTr);
    });
});

function addAccessRightForm($collectionHolder, $newLinkTr) {
    // Get the data-prototype explained earlier
    var prototype = $collectionHolder.data('prototype');

    // get the new index
    var index = $collectionHolder.data('index');

    var newForm = prototype;
    // Replace '__name__label__' in the prototype's HTML to
    // instead be a number based on how many items we have
    newForm = newForm.replace(/__name__label__/g, index);

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    newForm = newForm.replace(/__name__/g, index);

    // increase the index with one for the next item
    $collectionHolder.data('index', index + 1);

    // Display the form in the page, before the "Add" link
    var $newFormTr = $('<tr></tr>').append(newForm);
    $newLinkTr.before($newFormTr);
}

function addTagFormDeleteLink($tagFormTr) {
    var $removeFormA = $('<td><a href="#">{% trans %}label.accessRight.delete{% endtrans %}</a></td>');
    $tagFormTr.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the tr for the form
        $tagFormTr.remove();
    });
}
</script>
{% endblock %}